app-bar{
	display:none;
}
app-pie{
	display:none;
}
app-scatter{
	display:none;
}

#botonesGraficas{
	display: flex;
	justify-content: space-between;
}

#botonesGraficas button{
	cursor: pointer;
}

#tableContainer {
	overflow:scroll;
    height: 79vh;
    width: 100%;
	display: flex;
}
#tableContainer table {
	width: 85vw;
}