<div class="page">
    <section class="section section-intro context-dark">
      <!--<div class="intro-bg" style="background: url(images/intro-bg-2.jpg) no-repeat;background-size:cover;background-position: top center;"></div>-->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 text-center">
                    <h1 class="font-weight-bold wow fadeInLeft">Noticias</h1>
                </div>
            </div>
        </div>
        <hr>
    </section>
    <!--Seccion de Noticias-->
    <div id = "normal">
        <div id="mi-super-contenido">
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Quisque ac quam sollicitudin nisi posuere volutpat vitae id risus.</li>
                <li>Phasellus at sem id nisi congue blandit et eu purus.</li>
                <li>Etiam eleifend lectus a malesuada dignissim.</li>
                <li>Vivamus dapibus dui a tincidunt auctor.</li>
                <li>Sed ac risus finibus, vehicula sem eu, varius augue.</li>
                <li>Duis ultrices mauris eleifend erat aliquet egestas.</li>
                <li>Vestibulum porttitor ipsum quis maximus vulputate.</li>
                <li>Donec pellentesque mi ut nunc porta ullamcorper hendrerit in ipsum.</li>
                <li>In convallis neque nec volutpat tempus.</li>
            </ul>
        </div>
    <a style='cursor: pointer;' onclick="mostrarOcultar('mi-super-contenido')">
      Ver. pre-alfa 0.1
    </a>
    </div>

    <div id = "normal">
        <div id="mi-super-contenido2">
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Quisque ac quam sollicitudin nisi posuere volutpat vitae id risus.</li>
                <li>Phasellus at sem id nisi congue blandit et eu purus.</li>
                <li>Etiam eleifend lectus a malesuada dignissim.</li>
                <li>Vivamus dapibus dui a tincidunt auctor.</li>
                <li>Sed ac risus finibus, vehicula sem eu, varius augue.</li>
                <li>Duis ultrices mauris eleifend erat aliquet egestas.</li>
                <li>Vestibulum porttitor ipsum quis maximus vulputate.</li>
                <li>Donec pellentesque mi ut nunc porta ullamcorper hendrerit in ipsum.</li>
                <li>In convallis neque nec volutpat tempus.</li>
            </ul>
        </div>
    <a style='cursor: pointer;' onclick="mostrarOcultar('mi-super-contenido2')">
      Ver. pre-alfa 0.05
    </a>
    </div>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
<!--coded by Drel-->