<style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
  select.datos{
    padding: 7px 0px 7px 0px;
    font-size: 1.2em;
    padding-left: 13px;
    color: #757575;
    font-family: inherit;
    max-width: 33.3em;
  }
  body {
      background-color: #ffffff;
  }
  .datos {
      border: #A56F6F 2px solid; 
      border-radius: 8px;
      width: 100%;
      max-width: 40em;
  }
  #formulario{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  #button{
      background-color: #A56F6F;
      border: none;
      border-radius: 10px;
      padding: 0 30px 0 30px;
      color: #fff;
      font-size: 1.2em;
      margin-top: 25px;
  }
  #button:hover{
    cursor: pointer;
  }

  .container{
      margin-bottom: 30px;
  }

  .container > div >div h3{
      font-size: 2.5em;
  }

  #titulo{
      margin: 1em 0 2.5em 0;
      width: 100%;
      text-align: center;
  }

  hr{
      border: 1px solid #868686;
  }

  .selector-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 40em;
    max-height: 2.8em;
  }

  .label{
    align-self: center;
  }

</style>
<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="page">
      <!--About-->
      <section class="section section-sm position-relative">
        <div class="container" id="about">
          <div class="d-flex align-items-center justify-content-center flex-column">

            <div id="titulo"> 
                <h3>Crea tu cuenta</h3><hr>
            </div>
            <div id="formulario">
                <input type="text" class="datos" name="email" placeholder="    EMAIL"><br>
                <input type="text" class="datos" name="user" placeholder="    USUARIO"><br>
                <input type="text" class="datos" name="edad" placeholder="    EDAD"><br>
                <input type="text" class="datos" name="password" placeholder="    CONTRASEÑA"><br>
                <div class="selector-container">
                  <label for="gender" class="label" id="gender-label">Escoja un género</label> 
                  <select name="gender" class="datos" id="gender">
                    <option value="H">Hombre</option>
                    <option value="M">Mujer</option>
                    <option value="O">Otro</option>
                  </select>
                </div><br>
                <div class="selector-container">
                  <label for="gender" class="label" id="why-label">¿Para qué va a usar nuestro producto?</label> 
                  <select name="gender" class="datos" id="razon">
                    <option value="NF">Negocio Familiar</option>
                    <option value="NP">Negocio pequeño</option>
                    <option value="TC">Tienda clandestina</option>
                    <option value="O">Otro</option>
                  </select>
                </div><br>
                
                <button id="button" onclick="guardarDatos()"  >Registrarse</button> 
              </div>

          </div>
        </div>
      </section>

      <script  type="module" >
        //const fs = require('fs'); 

        function guardarDatos(){
          console.log(document.getElementsByClassName("datos")[0].value);
          console.log(document.getElementsByClassName("datos")[1].value);
          console.log(document.getElementsByClassName("datos")[3].value);
          console.log(document.getElementsByClassName("datos")[4].selectedOptions[0].innerHTML);

          // create a JSON object
          const user = {
              "id": 1,
              "name": "John Doe",
              "age": 22
          };
          
          // convert JSON object to string
          const data = JSON.stringify(user, null, 4);


          // write JSON string to a file (NECESITO UN SERVIDOR)
          fs.writeFile('user.json', data, (err) => {
              if (err) {
                  throw err;
              }
              console.log("JSON data is saved.");
          });




        }

      </script>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <!--coded by Drel-->