<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
<style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
    
  body {
      background-color: #ffffff;
  }
  .datos {
      border: #A56F6F 2px solid; 
      border-radius: 8px;
      width: 100%;
      max-width: 40em;
  }
  #formulario{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  #button{
      background-color: #A56F6F;
      border: none;
      border-radius: 10px;
      padding: 0 30px 0 30px;
      color: #fff;
      font-size: 1.2em;
  }
  #button:hover{
    cursor: pointer;
  }
  
  .container{
      margin-bottom: 30px;
  }

  .container > div >div h3{
      font-size: 2.5em;
  }

  #titulo{
      margin: 1em 0 2.5em 0;
      width: 100%;
      text-align: center;
  }

  hr{
    border: 1px solid #868686;
  }

</style>  
    <div class="page">
      <!--SECCION DE DATOS-->
      <section class="section section-sm position-relative">
        <div class="container" id="about">
          <div class="d-flex align-items-center flex-column">

            <div id="titulo"> 
                <h3>Bienvenido</h3><hr>
            </div>
            <div id="formulario">
                <input type="text" class="datos" name="user" placeholder="    USUARIO"><br><br>
                <input type="text" class="datos" name="pass" placeholder="    CONTRASEÑA"><br><br>
                <button id="button" onclick="ComprobarUsuario()">Iniciar sesión</button>
                </div>

          </div>
        </div>
      </section>
    </div>
    <div class="snackbars" id="form-output-global"></div>

    <script>
      function ComprobarUsuario(){

        fetch(" data/clients.json")
          .then(response => response.json())
          .then(data => {
            const usernameCheck = document.getElementsByClassName("datos")[0].value;
            const passwordCheck = document.getElementsByClassName("datos")[1].value;
            let checkAdminUser= "admin".localeCompare(usernameCheck)
            let checkAdminPass= "admin".localeCompare(passwordCheck)
            var flag=false
            if (checkAdminPass==0 && checkAdminUser==0) {
              flag=true;
              window.location.href= "principalAdmin.html";
            }
            for (let i = 0; i < data.length; i++) {
              let client = data[i];
              let username=client["user"]
              let pass=client["password"]
              let resUser=username.localeCompare(usernameCheck)
              let resPass=pass.localeCompare(passwordCheck)
              if (resUser==0 && resPass==0) {
                window.location.href= "principal.html";
                localStorage.setItem("user",username)
                flag=true
                break
              }
            }
            if (!flag){
              alert("No se encuentra registrado")
            }
            

          })
          .catch(console.error);

      }
    </script>
    <!--coded by Drel-->