#showFrom{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
  }

#hideForm{
    display:none;
}

#expandContainer{
    min-height:120vh;
    
}  
#contractContainer{
    min-height:50vh;
    display: block;
}