
<section class="section section-sm position-relative">
    <div class="container" id="about">
      <div class="row row-30">
        <div class="col-lg-6">
          <div class="block-decorate-img wow fadeInLeft" data-wow-delay=".2s"><img src="assets/images/aboutUsImg.png" alt="" width="570" height="351"/>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="block-sm offset-top-45">
            <div class="section-name wow fadeInRight" data-wow-delay=".2s">Sobre nosotros</div>
            <h3 class="wow fadeInLeft text-capitalize devider-bottom" data-wow-delay=".3s">Qué<span class="text-primary"> Hacemos</span></h3>
            <p class="offset-xl-40 wow fadeInUp" data-wow-delay=".4s">Nunc feugiat euismod sem ut euismod. Vivamus nisl erat, ultrices eu semper quis, venenatis id lorem. Quisque id elit sit amet ante ultrices dictum. Aenean eu congue ex. Sed tempor dui aliquam orci auctor viverra. Aenean elementum commodo nisi. Aenean condimentum mi nec enim pharetra efficitur. Proin vehicula nunc blandit.</p>
            <p class="default-letter-spacing font-weight-bold text-gray-dark wow fadeInUp" data-wow-delay=".4s">Morbi eleifend velit odio, sed maximus nisi auctor quis. Nulla vel fringilla dui. Morbi at.</p><a class="button-width-190 button-primary button-circle button-lg button offset-top-30" href="#">read more</a>
          </div>
        </div>
      </div>
    </div>
</section>
  <!--Features-->
  <section class="section custom-section position-relative section-md">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-7 col-12">
          <div class="section-name wow fadeInRight">nuestras características</div>
          <h3 class="text-capitalize devider-left wow fadeInLeft" data-wow-delay=".2s">Porqué<span class="text-primary"> Escoger </span>Nuestro Producto</h3>
          <p>Maecenas consectetur viverra lectus vitae ultricies. Nullam quis ipsum vel tellus posuere lobortis a non metus. Aliquam at porta libero. Etiam euismod volutpat lobortis. Pellentesque.</p>
          <div class="row row-15">
            <div class="col-xl-6 wow fadeInUp" data-wow-delay=".2s">
              <div class="box-default">
                <div class="box-default-title">Soluciones inovativas</div>
                <p class="box-default-description">Donec dolor elit, ultricies eu dolor a, porttitor malesuada ex.</p><span class="box-default-icon novi-icon icon-lg mercury-icon-lightbulb-gears"></span>
              </div>
            </div>
            <div class="col-xl-6 wow fadeInUp" data-wow-delay=".3s">
              <div class="box-default">
                <div class="box-default-title">Pensamiento estrátegico</div>
                <p class="box-default-description">Morbi varius ultrices quam eu hendrerit. Vestibulum leo sem, feugiat.</p><span class="box-default-icon novi-icon icon-lg mercury-icon-target-2"></span>
              </div>
            </div>
            <div class="col-xl-6 wow fadeInUp" data-wow-delay=".4s">
              <div class="box-default">
                <div class="box-default-title">Equipo experimentado</div>
                <p class="box-default-description">Nullam rhoncus congue nulla id dapibus. Nullam sollicitudin, urna ut.</p><span class="box-default-icon novi-icon icon-lg mercury-icon-user"></span>
              </div>
            </div>
            <div class="col-xl-6 wow fadeInUp" data-wow-delay=".5s">
              <div class="box-default">
                <div class="box-default-title">Diseño creativo</div>
                <p class="box-default-description">Etiam iaculis tellus libero, mattis sodales turpis rutrum vel. Phasellus.</p><span class="box-default-icon novi-icon icon-lg mercury-icon-partners"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="image-left-side wow slideInRight" data-wow-delay=".5s"><img src="assets/images/featuresImg.png" alt="" width="636" height="240"/>
    </div>
  </section>
  
  <!--Commitments-->
  <section class="section section-md bg-xs-overlay" style="background-size:cover">
    <div class="container">
      <div class="row row-50 justify-content-center">
        <div class="col-12 text-center col-md-10 col-lg-8">
          <h3 class="wow fadeInLeft text-capitalize" data-wow-delay=".3s">Nuestros<span class="text-primary"> Deberes </span>Con Ustedes</h3>
        </div>
      </div>
      <div class="row row-30 justify-content-center">
        <div class="col-xl-4 col-md-6 col-12 wow fadeInDown" data-wow-delay=".3s">
          <div class="pricing-box bg-gray-dark">
            <div class="pricing-box-tittle">Satisfación garantizada</div>
            <hr/>
            <img src="assets/images/satisfactionImg.png" class="commitmentsImg" id="satisfactionImg" alt="" width="636" height="240"/>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
          <div class="pricing-box bg-gray-primary">
            <div class="pricing-box-tittle">Compromiso con el cliente</div>
            <hr/>
            <img src="assets/images/compromisoImg.png" class="commitmentsImg" id="compromisoImg" alt="" width="636" height="240"/>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12 wow fadeInDown" data-wow-delay=".3s">
          <div class="pricing-box bg-gray-dark">
            <div class="pricing-box-tittle">Calidad sin igual</div>
            <hr/>
            <img src="assets/images/qualityImg.png" class="commitmentsImg" id="qualityImg" alt="" width="636" height="240"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--Owl Carousel-->
  <section class="section section-md bg-gray-lighten" id="team">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10">
  
          <h3 class="wow fadeInLeft text-capitalize text-center" data-wow-delay=".3s">Equipo de <span class="text-primary">Desarrollo</span></h3>
          <div class="review-carousel" data-items="1" data-sm-items="1" data-md-items="1" data-lg-items="1" data-xl-items="1" data-xxl-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="true" data-autoplay="false">
            <div class="item">
              <div class="item-preview wow fadeInDown" data-wow-delay=".2s"><img src="assets/images/Jhonny_cotrina.png" alt="" width="216" height="108"/>
              </div>
              <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin eu diam quis congue. Fusce non leo congue, lacinia urna a, blandit diam.</p>
                <div class="item-subsection"><span class="item-subsection-title devider-left">Jhonny Cotrina</span></div>
              </div>
            </div>
            <div class="item">
              <div class="item-preview wow fadeInDown" data-wow-delay=".2s"><img src="assets/images/Franklin_Ordoñez.jpg" alt="" width="216" height="108"/>
              </div>
              <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin eu diam quis congue. Fusce non leo congue, lacinia urna a, blandit diam.</p>
                <div class="item-subsection"><span class="item-subsection-title devider-left">Franklin Ordoñez</span></div>
              </div>
            </div>
            <div class="item">
              <div class="item-preview wow fadeInDown" data-wow-delay=".2s"><img src="assets/images/Aharon_Cruz.png" alt="" width="216" height="108"/>
              </div>
              <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin eu diam quis congue. Fusce non leo congue, lacinia urna a, blandit diam.</p>
                <div class="item-subsection"><span class="item-subsection-title devider-left">Aharon Cruz</span></div>
              </div>
            </div>
            <div class="item">
              <div class="item-preview wow fadeInDown" data-wow-delay=".2s"><img src="assets/images/Marck_Murillo.jpg" alt="" width="216" height="108"/>
              </div>
              <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin eu diam quis congue. Fusce non leo congue, lacinia urna a, blandit diam.</p>
                <div class="item-subsection"><span class="item-subsection-title devider-left">Marck Murillo</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>