<div class="rd-navbar-wrap" style="height: 151.406px;">

    
    <div id="mapContainer" style="display:none">
        
      <div id="grayBackgroud" (click)='hidePanel()'></div>

      <div class="buttonContainer"> <button id="cancelButton" (click)='hidePanel()'></button>   </div>   
      <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d1358.0129897079212!2d-79.96595045705956!3d-2.148032890959443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x902d7301c75c60c3%3A0xaa61e6489196e255!2sGuayaquil!3m2!1d-2.1476793!2d-79.96540069999999!5e0!3m2!1ses!2sec!4v1631143473664!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
    </div>

    <nav class="rd-navbar rd-navbar-classic rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
      <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1 toggle-original" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
      <div class="rd-navbar-aside-outer rd-navbar-collapse bg-gray-dark toggle-original-elements">
        <div class="rd-navbar-aside">
          <ul class="list-inline navbar-contact-list">
            <li>
              <div class="unit unit-spacing-xs align-items-center">
                <div class="unit-left"><span class="icon text-middle fa-phone"></span></div>
                <div class="unit-body"><a href="tel:#">0941610198</a></div>
              </div>
            </li>
            <li>
              <div class="unit unit-spacing-xs align-items-center">
                <div class="unit-left"><span class="icon text-middle fa-envelope"></span></div>
                <div class="unit-body"><a href="mailto:#">LosPibes@hotmail.com</a></div>
              </div>
            </li>
            <li>
              <div class="unit unit-spacing-xs align-items-center">
                <div class="unit-left"><span class="icon text-middle fa-map-marker"></span></div>
                <div class="unit-body" (click)="showMap()" ><p >Guayas, Ecuador</p></div>
              </div>
            </li>
          </ul>
          <ul class="social-links">
            <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-linkedin" href="#"></a></li>
            <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter" href="#"></a></li>
            <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="#"></a></li>
            <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram" href="#"></a></li>
          </ul>
        </div>
      </div>
      <div class="rd-navbar-main-outer">
        <div class="rd-navbar-main">
          <!--RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!--RD Navbar Brand-->
            <div class="rd-navbar-brand">
              <!--Brand-->
              <a class="brand mt-0" href="index.html" style="font-family: rancho; font-size: 4em; color: black; -webkit-text-stroke: 0.5px white; line-height: 1;">Los Pibes</a>
            </div>
          </div>
          <div class="rd-navbar-main-element" id="botonesNavBar">
            <div class="rd-navbar-nav-wrap toggle-original-elements">
              <ul class="rd-navbar-nav">
                <li class="rd-nav-item"><a routerLink="" routerLinkActive='activeRoute' [routerLinkActiveOptions]="{exact:
                  true}" class="rd-nav-link">Principal</a>
                </li>
                <li class="rd-nav-item"><a routerLink="" (click)="scrollToElement()" class="rd-nav-link">Equipo de desarrollo</a>
                </li>
                <li class="rd-nav-item"><a routerLink="noticias"  routerLinkActive='activeRoute' class="rd-nav-link">Noticias</a>
                </li>
                <li class="rd-nav-item"><a routerLink="contacts"  routerLinkActive='activeRoute' class="rd-nav-link">Contactanos</a>
                </li>
                <li class="rd-nav-item" *ngIf="!isUserLoggedIn" ><a routerLink="inicioSesion"   routerLinkActive='activeRoute'class="rd-nav-link">Iniciar sesión</a>
                </li>
                <li class="rd-nav-item" *ngIf="!isUserLoggedIn" ><a routerLink="registrar"  routerLinkActive='activeRoute' class="rd-nav-link">Regístrate</a>
                </li>
                <li class="rd-nav-item" *ngIf="isUserLoggedIn" ><a routerLink="main"  routerLinkActive='activeRoute' class="rd-nav-link">Home</a>
                </li>
                <li class="rd-nav-item" *ngIf="isUserLoggedIn" ><a routerLink="inicioSesion" (click)="salir()" class="rd-nav-link">Cerrar Sesión</a>
                </li>
                <!--
                <li class="rd-nav-item"><a routerLink="" class="rd-nav-link">Principal</a>
                </li>
                <li class="rd-nav-item"><a routerLink="" class="rd-nav-link">Equipo de desarrollo</a>
                </li>
                <li class="rd-nav-item"><a routerLink="noticias" class="rd-nav-link">Noticias</a>
                </li>
                <li class="rd-nav-item"><a routerLink="contacts" class="rd-nav-link">Contactanos</a>
                </li>
                <li class="rd-nav-item"><a routerLink="inicioSesion" class="rd-nav-link">Iniciar sesión</a>
                </li>
                <li class="rd-nav-item"><a routerLink="registrar" class="rd-nav-link">Regístrate</a>
                </li>
                -->
              </ul>
            </div>
          </div>
         
        </div>
      </div>
    </nav>
    <!--
    <nav id="menuDesplegable">
      
      <input id="toggle" type="checkbox" checked>
      <div id= "animatedButton" class="hamburger-menu" onclick="desplegarMenuLateral()">
        <div class="bar top" ></div>
        <div class="bar middle"></div>
        <div class="bar bottom" ></div>
      </div>
      
      <ul id="MenuFlotante">
        <li><a routerLink="" class="rd-nav-link">Principal</a>
        <li><a routerLink="" class="rd-nav-link">Equipo de desarrollo</a>
        <li><a routerLink="noticias" class="rd-nav-link">Noticias</a>
        <li><a routerLink="contacts" class="rd-nav-link">Contactanos</a>
        <li><a routerLink="inicioSesion" class="rd-nav-link">Iniciar sesión</a>
        <li><a routerLink="registrar" class="rd-nav-link">Regístrate</a>
      </ul>
    </nav>
    -->
  </div>
  

  <script src="assets/js/navbarScripts.js"></script>
