
<div class="wrapper">

    <form class="form-signin"> 
      <div class="buttonContainer"> <button id="cancelButton" (click)='hideNewProductForm()'></button>   </div>   
      <h2 class="form-signin-heading">Añadir un Producto</h2>
      <input type="text" class="form-control" name="nombre" placeholder="nombre" required="" autofocus="" />
      <input type="text" class="form-control" name="precio" placeholder="precio" />
      <input type="text" class="form-control" name="cantidad" placeholder="cantidad" />
      <input type="text" class="form-control" name="direccion" placeholder="direccion" />

      <input type="text" class="form-control" name="categoria" placeholder="categoria" />
      <input type="text" class="form-control" name="imagen" placeholder="url imagen" />

      <button class="btn btn-lg btn-primary btn-block" type="submit">Guardar</button>   
    </form>
  </div>

