
.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
	
}



.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}
  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;

	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

    .btn{
        background: #A56F6F;
        border-color: #A56F6F;
        font-family: "sanchez arial";
    }

    h2{
        font-family: "sanchez arial";
    }

    .buttonContainer{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    button#cancelButton {
        border-radius: 50%;
        padding: 0.5em;
        width: 30px;
        height: 30px;
        background: rgb(107, 107, 107);
        border: 2px solid rgb(163, 162, 162);
        position: relative;
      }
      button#cancelButton:hover {
        border: 2px solid rgb(104, 104, 104);
        background-color: rgba(0, 0, 0, 0.753);
        color: #ffffff;
        cursor: pointer;
      }
      
      button#cancelButton::before {
        content: " ";
        position: absolute;
        display: block;
        background-color: rgb(255, 255, 255);
        width: 2px;
        left: 12px;
        top: 5px;
        bottom: 5px;
        transform: rotate(45deg);
      }
      button#cancelButton::after {
        content: " ";
        position: absolute;
        display: block;
        background-color: rgb(255, 255, 255);
        height: 2px;
        top:12px;
        left: 5px;
        right: 5px;
        transform: rotate(45deg);
      }

